/*
Theme Name: Willemsendekoning
Theme URI: https://koen.com/
Author: koen.nl
Author URI: https://koen.nl/
Description: Thema voor koen
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, gray, red, white, yellow, dark, light, one-column, two-columns, right-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: koen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "partials/_header.scss";
@import "partials/_navigation.scss";
@import "partials/_content.scss";
@import "partials/_footer.scss";

@import "elements/logo-slider.scss";

body {
  background-color: #e5e5e5;
  font-family: sans-serif;
}

h1, h2, h3, h5 {
  color: #000;
  font-weight:bold;
  margin: 0;
}

img {
  border: 1px solid #dadada;
}

.container-margin {
  margin-top: 40px;
  margin-bottom: 40px;
}
