.main-article{
  background-color: #FFFFFF;
}

.main-article-header {
  font-size:45px;
  color:black;
  padding-top: 10px;
  margin-left:13px;
}

@media (max-width: 767px){
  .main-article-header {
    font-size:25px;
  }
}

.main-article-image{
  padding:5px;
  width:300px;
  height:auto;
  max-width: 100%;
  margin-bottom: 20px;
  margin-left:5px;
}

.duo-article {
  background-color: #DADADA;
  min-height: 250px;
}