.footer {
  background-color: #FFFFFF;
  ul {
    list-style-type: none;
    margin-left:-40px;
  }
  li {
    color: #515151;
    font-size: 12px;
  }
}

.footer-header {
  margin-top: 20px;
  background-color: #FFFFFF;
}

.footer-text{
  color: #02316d;
  font-size: 22px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.bold {
  font-weight: bold;
}