.header {
  background-color: #E5E5E5;
}

.widget_telefoon {
  float:right;
  margin-top: 20px;
}

.widget_telefoon_text{
  font-size: 16px;
}

@media (max-width: 645px){
  .widget_telefoon {
    float:left;
  }
}

.logo{
  border: 0;
  width:333px;
  height:auto;
  max-width: 100%;
  margin-top:10px;
  margin-bottom: 15px;
}