#main-nav {
  background-color: #02316D;
  ul {
    list-style-type: none;
    margin-left:-15px;
  }
  li{
    width: 188px;
    a{
      font-size: 1.15em;
      line-height: 1.3em;
      color: #FFFFFF;
      border-right: 1px solid #454545;
      text-align:center;
    }
    a:hover{
      background-color:#e62925;
      text-decoration: none;
    }
  }
  a{
    padding-top:15px;
  }
}

.navbar-default {
  background-color: #02316D;
  margin:0;
  border-radius:0;
}
